.site-layout-sub-header-background {
    background: #fff !important;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0 !important;
    color: rgba(0, 0, 0, 0) !important;
}

.site-layout-background {
    margin-top: 64px;
    padding: 24px;
    min-height: 500px;
    background: #fff !important;
    text-align: center;
}
